name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.13.0
        with:
          enable-cache: true
          devbox-version: 0.13.7

      - name: Load devbox via direnv
        uses: HatsuneMiku3939/direnv-action@v1

      - run: pnpm install

      - run: pnpm test

      - run: pnpm build

      - run: pnpm release-it
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
