name: Test

on:
  push:
    branches-ignore:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.13.0
        with:
          enable-cache: true
          devbox-version: 0.13.7

      - name: Load devbox via direnv
        uses: HatsuneMiku3939/direnv-action@v1

      - run: pnpm install

      - run: pnpm test

      - run: pnpm build
